<div class="g-col-6">
    {{!-- <div class="col-4 align self start p-3 m-3"> --}}
        <span id="characteristicName">{{this.name}}</span>
        {{#if this.rating}}
        <span id="characteristicRating">{{roundToTenth this.rating}}</span>
        {{else}}
        <span id="characteristicRating">—</span>
        {{/if}}
    {{!-- </div> --}}
</div>