<div class="row justify-content-start ml-1">
    <div class="col-4 align self start p-3 m-3">
        <span id="characteristicName">{{this.name}}</span>
        <span id="characteristicRating">{{roundToTenth this.rating}}</span>
    </div>
</div>