<div class="bg-white rounded p-2 my-2 border-dark-grey">
    {{!-- <span class="likes-count">120</span> <!-- Replace with actual likes count when we have it --> --}}
    {{!-- <span class="star-outline ml-2" onclick="toggleStar(this)" data-id="comment1">&#9734;</span> --}}
    <span class="username ml-2 font-weight-bold" id="user-name">{{this.user.name}}</span>
    <span class="comment-text ml-2" id="comment-text">{{this.text}}</span>
</div>