<div id="contentBelowDropdown">
    <!-- MESSAGE TO USERS -->
    <h2 class="text-center mb-5">
        Choose from our top categories.
        {{!-- We know you don't like to read so we have developed a quick reference guide to help you find the right solution for your development project. Choose from some popular focus areas below or find what you're looking for in the search bar. --}}
    </h2>

    <!-- LINKS TO CATEGORIES -->
    <div class="d-flex flex-wrap justify-content-center text-center">
        <a href="categories/1" class="mb-2">CSS Frameworks</a>
        <!-- Placeholder links -->
        <a href="#" class="mb-2 text-grey">Future Category</a>
        <a href="#" class="mb-2 text-grey">Future Category</a>
        <a href="#" class="mb-2 text-grey">Future Category</a>
        <a href="#" class="mb-2 text-grey">Future Category</a>
        <a href="#" class="mb-2 text-grey">Future Category</a>
        <a href="#" class="mb-2 text-grey">Future Category</a>
        <a href="#" class="mb-2 text-grey">Future Category</a>
        <a href="#" class="mb-2 text-grey">Future Category</a>
        <a href="#" class="mb-2 text-grey">Future Category</a>
        <a href="#" class="mb-2 text-grey">Future Category</a>
        <a href="#" class="mb-2 text-grey">Future Category</a>
    </div>
</div>