
        <div class="text-center">
            <h3>Choose Desired Characteristics to Review</h3>
            <p>Check box and set min value to show all<br>
            Use slider to filter for minimum characteristic standards<br>
            Uncheck box to remove characteristic from review</p>
            <hr>
        </div>
        
        <section>
            <div id="filter-strip" class="d-flex align-items-center justify-content-center">
                <div style="width:250px" class="text-right" >
                    <span id="characteristic" class="font-weight-bold">Characteristics of the Tool</span>
                </div>
                <div>
                    <div class="custom-control custom-checkbox ml-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1"></label>
                    </div>
                                </div>
                <div class="col-4">
                    <div id="slider-range-max"></div>
                </div>
                <div>
                    <div class="d-flex align-items-center col-.5">
                        <input type="text" id="characteristic1" readonly style="border:0; width:30px; color:blue; font-weight:bold;">
                    </div>
                </div>
            </div>
        </section>
