    <!-- TOOL HEADER SECTION -->
    <secion>
        <section>
            <div class="container-fluid my-2">
                <div class="d-flex align-items-end">
                        <div class="d-flex d-flex align-end">
                            <button type="button" class="btn btn-filter" data-toggle="modal" data-target="#filterModal">Filter</button>
                        </div>
                </div>
            </div>
        </section>

    <!-- TOOL BOXES SECTION -->
    {{#each tools as |tool|}} <!-- Loop through each tool in the array -->
        <section id="tool-boxes">
            <div class="container-fluid mt-2 py-2 bg-light-blue" onclick="toggleDropdown(this)">
                <div class="d-flex align-items-center ">
                    <div style="width:80%;">
                        <div class="d-flex justify-content-between align-items-center ">
                            <div class="d-flex align-items-center">
                                <button type="button" class="btn btn-rate" data-toggle="modal" data-target="#filterModal">rate</button>
                                <div>
                                    <h3 id="tool-name" class="tool-name font-weight-bold" style="color:white">{{tool.name}}</h3>
                                </div>
                            </div>
                            <div>
                                {{{renderStars tool.overall_rating}}}
                            </div>
                            {{!-- <div id="overall-rating-stars" class="star-rating "> --}}
                                <!-- renderStars() can be called using JavaScript and updating this div -->
                            </div>
                        </div>
                    </div>
                    <div class=" align-items-center mr-2" style="width:20%;">
                        {{#each tool.top_characteristics}}
                            <div class="top-char" class="text-right " style="color:#ffee90";>{{this.name}}: {{roundToTenth this.rating}}</div>
                        {{/each}}
                    </div>
                </div>
            </div>
    
            <div class="comments-dropdown bg-grey p-3 d-none">
                {{#each tool.characteristics}}
                    {{> toolCharacteristic this}}
                {{/each}}
            </div>

            <!-- TOOL BOX DROP DOWN -->
            <div>
                {{#each tool.top_reviews}}
                    {{> toolReview this}}
                {{/each}}
            </div>
                    <!-- See More Comments Link -->
            <div class="text-center">
                <a href="#">See all reviews</a>
            </div>
        </section>
    {{/each}}
    </section>   
