    <!-- Header -->
    <header class="bg-yellow py-2 d-flex justify-content-between align-items-center">
        <img src="/public/images/rateit.png" alt="RateIt Logo" class="logo-img">
        <button class="btn btn-login">Login</button>
    </header>

    <!-- Body -->
    
    <main class="container mt-5">

<!-- DROPDOWN CATEGORY SELECTOR SECTION -->
        <section id="category-select">
            <div class="d-flex justify-content-center mb-4">
                <select class="custom-select w-auto" id="categoryDropdown">
                    <option selected>Choose the programming focus area you want to evaluate</option>
                    <option value="1">CSS Frameworks</option>
                </select>
            </div>
        </section>



<!-- TOOL HEADER SECTION -->
        <section>
            <div class="container-fluid my-2">
                <div class="d-flex align-items-end">
                    <div style="width:70%;">
                        <div class="d-flex d-flex align-end">
                            <button type="button" class="btn btn-filter" data-toggle="modal" data-target="#filterModal">Filter</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center" style="width:30%;">
                        <div class="headers vertical-text" style="width:33%;">Test1 </div>
                        <div class="headers vertical-text" style="width:33%;">Test2</div>
                        <div class="headers vertical-text" style="width:33%;">Test3</div>   
                    </div>
            </div>
        </section>

        <!-- TOOL BOXES SECTION-->
        <section id="tool-boxes">
            <div class="container-fluid mt-2 py-2 bg-light-blue" onclick="toggleDropdown(this)">
                <div class="d-flex align-items-center tool-box-outline">
                    <div class="tool-box-outline" style="width:70%;">
                        <div class="d-flex justify-content-between align-items-center tool-box-outline">
                            <div class="d-flex align-items-center">
                                <button type="button" class="btn btn-rate" data-toggle="modal" data-target="#filterModal">rate</button>
                                <div class="tool-box-outline"><h3 id="tool-name" class="tool-name font-weight-bold" style="color:white">Tool Name</h3></div>
                            </div>
                            
                            <div id="overall-rating-stars" class="star-rating tool-box-outline">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
                        </div>
                    </div>
                    <div class="tool-box-outline d-flex justify-content-between align-items-center" style="width:30%;">
                        <div id="charOneRating" class="tool-box-outline rating text-center" style="width:33%;">7</div>
                        <div id="charTwoRating" class="tool-box-outline rating text-center" style="width:33%;">8</div>
                        <div id="charThreeRating" class="tool-box-outline rating text-center" style="width:33%;">9</div>   
                    </div>
                </div>
            </div>

            <!-- TOOL BOX DROP DOWN -->
            <div class="comments-dropdown bg-grey p-3 d-none">
                <div class="row justify-content-start ml-1">
                    <div class="col-4 align self start p-3 m-3><span id="characteristicName">Characteristic name: </span><span id="characteristicRating">#</span></div>
                    <div class="col-4 align self start p-3 m-3><span id="characteristicName">Characteristic name: </span><span id="characteristicRating">#</span></div>
                    <div class="col-4 align self start p-3 m-3><span id="characteristicName">Characteristic name: </span><span id="characteristicRating">#</span></div>
                    <div class="col-4 align self start p-3 m-3><span id="characteristicName">Characteristic name: </span><span id="characteristicRating">#</span></div>
                    <div class="col-4 align self start p-3 m-3><span id="characteristicName">Characteristic name: </span><span id="characteristicRating">#</span></div>
                    <div class="col-4 align self start p-3 m-3><span id="characteristicName">Characteristic name: </span><span id="characteristicRating">#</span></div>
                    <div class="col-4 align self start p-3 m-3><span id="characteristicName">Characteristic name: </span><span id="characteristicRating">#</span></div>
                    <div class="col-4 align self start p-3 m-3><span id="characteristicName">Characteristic name: </span><span id="characteristicRating">#</span></div>
                    <div class="col-4 align self start p-3 m-3><span id="characteristicName">Characteristic name: </span><span id="characteristicRating">#</span></div>
                    <div class="col-4 align self start p-3 m-3><span id="characteristicName">Characteristic name: </span><span id="characteristicRating">#</span></div>

                </div>
                <!-- Next Comment -->
                <div class="bg-white rounded p-2 m-2 border-dark-grey">
                    <span class="likes-count">120</span>
                    <span class="star-outline ml-2" onclick="toggleStar(this)" data-id="comment1">&#9734;</span>
                    <span class="username ml-2 font-weight-bold">johndoe (52):</span>
                    <span class="comment-text ml-2">Great framework!</span>
                </div>
                <!-- Next Comment -->
                <div class="bg-white rounded p-2 m-2 border-dark-grey">
                    <span class="likes-count">120</span>
                    <span class="star-outline ml-2" onclick="toggleStar(this)" data-id="comment1">&#9734;</span>
                    <span class="username ml-2 font-weight-bold">johndoe (52):</span>
                    <span class="comment-text ml-2">Great framework!</span>
                </div>
                <!-- Next Comment -->
                <div class="bg-white rounded p-2 m-2 border-dark-grey">
                    <span class="likes-count">120</span>
                    <span class="star-outline ml-2" onclick="toggleStar(this)" data-id="comment1">&#9734;</span>
                    <span class="username ml-2 font-weight-bold">johndoe (52):</span>
                    <span class="comment-text ml-2">Great framework!</span>
                </div>
                <!-- See More Comments Link -->
                <div class="text-center">
                    <a href="#">See all reviews</a>
                </div>
            </div>


<!-- DELETE START--------------------------------------->


            <div class="container-fluid mt-2 py-2 bg-light-blue" onclick="toggleDropdown(this)">
                <div class="d-flex align-items-center tool-box-outline">
                    <div class="tool-box-outline" style="width:70%;">
                        <div class="d-flex justify-content-between align-items-center tool-box-outline">
                            <div class="d-flex align-items-center">
                                <button type="button" class="btn btn-rate" data-toggle="modal" data-target="#filterModal">rate</button>
                                <div class="tool-box-outline"><h3 id="tool-name" class="tool-name font-weight-bold" style="color:white">Tool Name</h3></div>
                            </div>
                            
                            <div id="overall-rating-stars" class="star-rating tool-box-outline" data-average-rating="4.5">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
                        </div>
                    </div>
                    <div class="tool-box-outline d-flex justify-content-between align-items-center" style="width:30%;">
                        <div class="tool-box-outline rating text-center" style="width:33%;">7</div>
                        <div class="tool-box-outline rating text-center" style="width:33%;">8</div>
                        <div class="tool-box-outline rating text-center" style="width:33%;">9</div>   
                    </div>
                </div>
            </div>

            <!-- TOOL BOX DROP DOWN -->
            <div class="comments-dropdown bg-grey p-3 d-none">
                <div class="row  justify-content-start">
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>

                </div>
                <!-- Next Comment -->
                <div class="bg-white rounded p-2 m-2 border-dark-grey">
                    <span class="likes-count">120</span>
                    <span class="star-outline ml-2" onclick="toggleStar(this)" data-id="comment1">&#9734;</span>
                    <span class="username ml-2 font-weight-bold">johndoe (52):</span>
                    <span class="comment-text ml-2">Great framework!</span>
                </div>
                <!-- Next Comment -->
                <div class="bg-white rounded p-2 m-2 border-dark-grey">
                    <span class="likes-count">120</span>
                    <span class="star-outline ml-2" onclick="toggleStar(this)" data-id="comment1">&#9734;</span>
                    <span class="username ml-2 font-weight-bold">johndoe (52):</span>
                    <span class="comment-text ml-2">Great framework!</span>
                </div>
                <div class="text-center">
                    <a href="#">See all reviews</a>
                </div>
            </div>

            <div class="container-fluid mt-2 py-2 bg-light-blue" onclick="toggleDropdown(this)">
                <div class="d-flex align-items-center tool-box-outline">
                    <div class="tool-box-outline" style="width:70%;">
                        <div class="d-flex justify-content-between align-items-center tool-box-outline">
                            <div class="d-flex align-items-center">
                                <button type="button" class="btn btn-rate" data-toggle="modal" data-target="#filterModal">rate</button>
                                <div class="tool-box-outline"><h3 id="tool-name" class="tool-name font-weight-bold" style="color:white">Tool Name</h3></div>
                            </div>
                            
                            <div id="overall-rating-stars" class="star-rating tool-box-outline" data-average-rating="4.5">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
                        </div>
                    </div>
                    <div class="tool-box-outline d-flex justify-content-between align-items-center" style="width:30%;">
                        <div class="tool-box-outline rating text-center" style="width:33%;">7</div>
                        <div class="tool-box-outline rating text-center" style="width:33%;">8</div>
                        <div class="tool-box-outline rating text-center" style="width:33%;">9</div>   
                    </div>
                </div>
            </div>

            <!-- TOOL BOX DROP DOWN -->
            <div class="comments-dropdown bg-grey p-3 d-none">
                <div class="row  justify-content-start">
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>

                </div>
                <!-- Next Comment -->
                <div class="bg-white rounded p-2 m-2 border-dark-grey">
                    <span class="likes-count">120</span>
                    <span class="star-outline ml-2" onclick="toggleStar(this)" data-id="comment1">&#9734;</span>
                    <span class="username ml-2 font-weight-bold">johndoe (52):</span>
                    <span class="comment-text ml-2">Great framework!</span>
                </div>
                <!-- Next Comment -->
                <div class="bg-white rounded p-2 m-2 border-dark-grey">
                    <span class="likes-count">120</span>
                    <span class="star-outline ml-2" onclick="toggleStar(this)" data-id="comment1">&#9734;</span>
                    <span class="username ml-2 font-weight-bold">johndoe (52):</span>
                    <span class="comment-text ml-2">Great framework!</span>
                </div>
                <div class="text-center">
                    <a href="#">See all reviews</a>
                </div>
            </div>
            <div class="container-fluid mt-2 py-2 bg-light-blue" onclick="toggleDropdown(this)">
                <div class="d-flex align-items-center tool-box-outline">
                    <div class="tool-box-outline" style="width:70%;">
                        <div class="d-flex justify-content-between align-items-center tool-box-outline">
                            <div class="d-flex align-items-center">
                                <button type="button" class="btn btn-rate" data-toggle="modal" data-target="#filterModal">rate</button>
                                <div class="tool-box-outline"><h3 id="tool-name" class="tool-name font-weight-bold" style="color:white">Tool Name</h3></div>
                            </div>
                            
                            <div id="overall-rating-stars" class="star-rating tool-box-outline" data-average-rating="4.5">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
                        </div>
                    </div>
                    <div class="tool-box-outline d-flex justify-content-between align-items-center" style="width:30%;">
                        <div class="tool-box-outline rating text-center" style="width:33%;">7</div>
                        <div class="tool-box-outline rating text-center" style="width:33%;">8</div>
                        <div class="tool-box-outline rating text-center" style="width:33%;">9</div>   
                    </div>
                </div>
            </div>

            <!-- TOOL BOX DROP DOWN -->
            <div class="comments-dropdown bg-grey p-3 d-none">
                <div class="row  justify-content-start">
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>

                </div>
                <!-- Next Comment -->
                <div class="bg-white rounded p-2 m-2 border-dark-grey">
                    <span class="likes-count">120</span>
                    <span class="star-outline ml-2" onclick="toggleStar(this)" data-id="comment1">&#9734;</span>
                    <span class="username ml-2 font-weight-bold">johndoe (52):</span>
                    <span class="comment-text ml-2">Great framework!</span>
                </div>
                <!-- Next Comment -->
                <div class="bg-white rounded p-2 m-2 border-dark-grey">
                    <span class="likes-count">120</span>
                    <span class="star-outline ml-2" onclick="toggleStar(this)" data-id="comment1">&#9734;</span>
                    <span class="username ml-2 font-weight-bold">johndoe (52):</span>
                    <span class="comment-text ml-2">Great framework!</span>
                </div>
                <div class="text-center">
                    <a href="#">See all reviews</a>
                </div>
            </div>
            <div class="container-fluid mt-2 py-2 bg-light-blue" onclick="toggleDropdown(this)">
                <div class="d-flex align-items-center tool-box-outline">
                    <div class="tool-box-outline" style="width:70%;">
                        <div class="d-flex justify-content-between align-items-center tool-box-outline">
                            <div class="d-flex align-items-center">
                                <button type="button" class="btn btn-rate" data-toggle="modal" data-target="#filterModal">rate</button>
                                <div class="tool-box-outline"><h3 id="tool-name" class="tool-name font-weight-bold" style="color:white">Tool Name</h3></div>
                            </div>
                            
                            <div id="overall-rating-stars" class="star-rating tool-box-outline" data-average-rating="4.5">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
                        </div>
                    </div>
                    <div class="tool-box-outline d-flex justify-content-between align-items-center" style="width:30%;">
                        <div class="tool-box-outline rating text-center" style="width:33%;">7</div>
                        <div class="tool-box-outline rating text-center" style="width:33%;">8</div>
                        <div class="tool-box-outline rating text-center" style="width:33%;">9</div>   
                    </div>
                </div>
            </div>

            <!-- TOOL BOX DROP DOWN -->
            <div class="comments-dropdown bg-grey p-3 d-none">
                <div class="row  justify-content-start">
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>

                </div>
                <!-- Next Comment -->
                <div class="bg-white rounded p-2 m-2 border-dark-grey">
                    <span class="likes-count">120</span>
                    <span class="star-outline ml-2" onclick="toggleStar(this)" data-id="comment1">&#9734;</span>
                    <span class="username ml-2 font-weight-bold">johndoe (52):</span>
                    <span class="comment-text ml-2">Great framework!</span>
                </div>
                <!-- Next Comment -->
                <div class="bg-white rounded p-2 m-2 border-dark-grey">
                    <span class="likes-count">120</span>
                    <span class="star-outline ml-2" onclick="toggleStar(this)" data-id="comment1">&#9734;</span>
                    <span class="username ml-2 font-weight-bold">johndoe (52):</span>
                    <span class="comment-text ml-2">Great framework!</span>
                </div>
                <div class="text-center">
                    <a href="#">See all reviews</a>
                </div>
            </div>
            <div class="container-fluid mt-2 py-2 bg-light-blue" onclick="toggleDropdown(this)">
                <div class="d-flex align-items-center tool-box-outline">
                    <div class="tool-box-outline" style="width:70%;">
                        <div class="d-flex justify-content-between align-items-center tool-box-outline">
                            <div class="d-flex align-items-center">
                                <button type="button" class="btn btn-rate" data-toggle="modal" data-target="#filterModal">rate</button>
                                <div class="tool-box-outline"><h3 id="tool-name" class="tool-name font-weight-bold" style="color:white">Tool Name</h3></div>
                            </div>
                            
                            <div id="overall-rating-stars" class="star-rating tool-box-outline" data-average-rating="4.5">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
                        </div>
                    </div>
                    <div class="tool-box-outline d-flex justify-content-between align-items-center" style="width:30%;">
                        <div class="tool-box-outline rating text-center" style="width:33%;">7</div>
                        <div class="tool-box-outline rating text-center" style="width:33%;">8</div>
                        <div class="tool-box-outline rating text-center" style="width:33%;">9</div>   
                    </div>
                </div>
            </div>

            <!-- TOOL BOX DROP DOWN -->
            <div class="comments-dropdown bg-grey p-3 d-none">
                <div class="row  justify-content-start">
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>
                    <div class="col-4 align self start p-3 m-3><span class="font-weight-bold">Characteristic name: </span>#</div>

                </div>
                <!-- Next Comment -->
                <div class="bg-white rounded p-2 m-2 border-dark-grey">
                    <span class="likes-count">120</span>
                    <span class="star-outline ml-2" onclick="toggleStar(this)" data-id="comment1">&#9734;</span>
                    <span class="username ml-2 font-weight-bold">johndoe (52):</span>
                    <span class="comment-text ml-2">Great framework!</span>
                </div>
                <!-- Next Comment -->
                <div class="bg-white rounded p-2 m-2 border-dark-grey">
                    <span class="likes-count">120</span>
                    <span class="star-outline ml-2" onclick="toggleStar(this)" data-id="comment1">&#9734;</span>
                    <span class="username ml-2 font-weight-bold">johndoe (52):</span>
                    <span class="comment-text ml-2">Great framework!</span>
                </div>
                <div class="text-center">
                    <a href="#">See all reviews</a>
                </div>
            </div>
    
<!-- DELETE END----------------------------------------->

        </section>
    </main>

    <!-- Footer -->
    <footer class="bg-yellow py-2 d-flex justify-content-between align-items-center">
        <div class="text-grey footer-left">Copyright Info</div>
        <div>
            <a href="#" class="text-grey pr-2">About Us</a>
            <a href="#" class="text-grey">Contact Us</a>
        </div>
    </footer>

    <script>

// JAVASCRIPT TO HIDE/SHOW DROPDOWN FOR TOOLBOX CONTENT

        function toggleDropdown(element) {
            const dropdown = element.nextElementSibling;
            if (dropdown.style.display === "none" || dropdown.classList.contains("d-none")) {
                dropdown.style.display = "block";
                dropdown.classList.remove("d-none");
            } else {
                dropdown.style.display = "none";
            }
        }

// JAVASCRIPT TO TOGGLE THE STAR AND COUNT

        function toggleStar(starElement) {
            const commentId = starElement.getAttribute('data-id');
            let storedStarState = localStorage.getItem(commentId);
            let likesCount = starElement.previousElementSibling;

            if (!storedStarState || storedStarState === 'empty') {
                starElement.innerHTML = "&#9733;";
                likesCount.innerText = parseInt(likesCount.innerText) + 1;
                localStorage.setItem(commentId, 'filled');
            } else {
                starElement.innerHTML = "&#9734;";
                likesCount.innerText = parseInt(likesCount.innerText) - 1;
                localStorage.setItem(commentId, 'empty');
            }
        }

    </script>
    
    <!-- JQUERY & BOOTSTRAP JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>