body {
  background-color: rgb(255, 255, 255);
}

.bg-yellow {
  background-color: #ffee90; /* dull yellow */
}

header {
  height: 85px;
}

.logo-img {
  max-height: 100px;
  width: auto;
  margin-left: 30px;
  margin-top: 24px;
}

.logo-placeholder {
  padding-left: 30px;
}

/* BUTTONS */

.btn-login {
  background-color: #63b5fd; /* light blue */
  color: white;
  font-weight: bold;
  border: none;
  margin-right: 30px;
}

/* .btn-submit {
    background-color: #63b5fd;
    border: none;
    height: 35px;
    margin-left: -10px;
}

/* OTHER */
.text-grey {
  color: #6c757d; /* dark grey */
  color: #6c757d;
}

a.text-grey:hover {
  text-decoration: none;
  color: #6c757d; /* dark grey */
  text-decoration: none;
  color: #6c757d;
}

a {
  color: #007bff;
  cursor: pointer;
  margin: 0 30px;
}

a:hover {
  text-decoration: underline;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main.container {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0; /* this ensures that the footer does not shrink */
}
