body {
    background-color: white;
}

.bg-yellow {
    background-color: #ffee90; /* dull yellow */
}

header {
    height: 85px;
}

.logo-img {
    max-height: 100px;  /* Example height; adjust as needed */
    width: auto;       /* Maintain aspect ratio */
    margin-left: 30px;
    margin-top: 24px;
    
}


.logo-placeholder {
    padding-left: 30px;
}

.btn-login {
    background-color: #63b5fd; /* light blue */
    color: white;
    font-weight: bold;
    border: none;
    margin-right: 30px;
}

/* .btn-submit {
    background-color: #63b5fd;
    border: none;
    color: white;
} */

.text-grey {
    color: #6c757d; /* dark grey */
}

a.text-grey:hover {
    text-decoration: none;
    color: #6c757d; /* dark grey */
}

a {
    color: #007bff; /* bootstrap primary color */
    cursor: pointer;
    margin: 0 30px; /* giving links a bit of margin */
}

a:hover {
    text-decoration: underline;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main.container {
    flex: 1 0 auto; /* this ensures that the main content expands */
}

footer {
    flex-shrink: 0; /* this ensures that the footer does not shrink */
}